@tailwind base;
@tailwind components;
@tailwind utilities;

/* .App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} */

body #content{
  padding:0px;
}

